<table mat-table [dataSource]="(dataSource$ | async)?.results" class="mat-elevation-z8 full">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID</th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="line">
    <th mat-header-cell *matHeaderCellDef> 线路名称 </th>
    <td mat-cell *matCellDef="let element"> {{element.line}} </td>
  </ng-container>

  <ng-container matColumnDef="branch">
    <th mat-header-cell *matHeaderCellDef> 分支</th>
    <td mat-cell *matCellDef="let element"> {{element.branch}} </td>
  </ng-container>

  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> 杆号</th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>

  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef> 设备名称</th>
    <td mat-cell *matCellDef="let element"> {{element.category}} </td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> 详情</th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>

  <ng-container matColumnDef="comment">
    <th mat-header-cell *matHeaderCellDef> 备注</th>
    <td mat-cell *matCellDef="let element"> {{element.comment}} </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> 日期</th>
    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [length]="(dataSource$ | async)?.count"
              [pageSize]="20" [hidePageSize]="true" (page)="changes($event)">
</mat-paginator>

