<h3>编辑记录</h3>

<div class="container">

  <form #form="ngForm" (ngSubmit)="onSubmit(form)" novalidate>
    <div class="form-group">
      <label>姓名: </label>
      <select name="person" ngModel="{{attend?.person?.id}}">
        <option [value]="attend?.person?.id">{{attend?.person?.name}}</option>
      </select>

      <!--<input readonly required [ngModel]="{{attend?.person?.name}}" name="person" type="text" class="form-control">-->
    </div>

    <div class="form-group">
      <label>出勤天数</label>
      <input required ngModel="{{attend?.attend}}" name="attend" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label>出工工时</label>
      <input ngModel="{{attend?.workhour}}" name="workhour" type="text" class="form-control">
    </div>

    <div class="form-group">
      <label>上杆工时</label>
      <input [(ngModel)]="attend.climbhour" name="climbhour" type="text" class="form-control">
      <!--<input ngModel="{{attend?.climbhour}}" name="climbhour" type="text" class="form-control">-->
    </div>

    <div class="form-group">
      <label>备注</label>
      <input ngModel="{{attend?.comment}}" name="comment" type="text" class="form-control">
    </div>

    <div class="form-group">
      <label>月份: </label>
      <select name="month" ngModel="{{attend?.month?.id}}">
        <option [value]="attend?.month?.id">{{attend?.month?.monthname}}</option>
      </select>
      <!--<input readonly ngModel="{{attend?.month?.monthname}}" name="month" type="text" class="form-control">-->
    </div>

    <div class="form-group">
      <label>日期</label>
      <input readonly ngModel="{{attend?.date}}" name="date" type="text" class="form-control">
    </div>


    <button [disabled]="form.invalid" type="submit" class="btn btn-primary">提交</button>
  </form>
  <p>{{attend | json}}</p>
  <p> {{form.value | json}}</p>
  <p>{{form.valid}}</p>
</div>
