<h1 mat-dialog-title>添加记录</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit(form, $event)" novalidate>
  <div mat-dialog-content>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="名称,可自定义" aria-label="名称,可自定义" [value]="form.get('name').value" [matAutocomplete]="auto" formControlName="name">
    </mat-form-field>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredStates | async" [value]="option.label" (onSelectionChange)="onSelectionChange($event)">
        <span>{{ option.label }}({{option.unit}})</span>
      </mat-option>
    </mat-autocomplete>

    <mat-form-field>
      <input matInput placeholder="数量" formControlName="count">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="单位" formControlName="unit">
    </mat-form-field>

  </div>
  <div mat-dialog-actions>
    <button mat-raised-button [disabled]="form.invalid || form.pristine" color="primary">提交</button>
  </div>
  <div>
    <!-- {{form.value | json}} -->
  </div>
</form>
