<div>

  <p>2、巡线工作</p>

  <div class="table">
    <table class="table table-bordered text-center">
      <thead>
        <tr>
          <td rowspan="2">统计/项目</td>
          <td colspan="2">线路巡视（条/公里）</td>
          <td>线路检修（条/公里）</td>
          <td rowspan="2">管辖线路</td>
        </tr>
        <tr>
          <td>正常巡视</td>
          <td>故障巡视</td>
          <td>本月完成（条/公里）</td>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>10kV</td>
          <td>{{tours_fault_sum}}</td>
          <td>{{tours_sum}}</td>
          <td></td>
          <td>{{lines_sum}}</td>
        </tr>
      </tbody>

    </table>
    <button mat-raised-button color="primary" (click)="openTourFormDialog()">添加巡视</button>
    <p *ngFor="let item of arr_tour">{{item}}</p>

    <div>新设备投运情况：</div>
    <p *ngFor="let production_record of production_records?.results | paginate: { itemsPerPage: 20, currentPage: page, totalItems: production_records?.count }">
      {{production_record.production_date}}, {{production_record.line.name}} {{production_record.branch.name}} {{production_record.position}}#杆,新增变压器{{production_record.transformer}}台，电杆{{production_record.pole}}基，{{production_record.length}}公里，{{production_record.comment}}。
    </p>

  </div>
  <div>
    检修工作：
  </div>

  <div>
    临时工作：
    <button mat-raised-button color="primary" (click)="openRecordFormDialog()">添加</button>
    <p>{{temp_work}}</p>
  </div>


  <div>
    1、 10kV线路跳闸故障 {{arr_trip.length}} 次：
    <button mat-raised-button color="primary" (click)="openFaultFormDialog(type.Trip)">添加</button>

  </div>
  <table class="table">
    <thead>
      <tr>
        <th>日期</th>
        <th>线路名称</th>
        <th>保护</th>
        <th>重合闸</th>
        <th>故障原因</th>
        <th>跳闸时间</th>
        <th>恢复送电时间</th>
        <th>天气</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of arr_trip; let i=index;">
        <td>{{i+1}}</td>
        <td>{{item.line}}</td>
        <td>{{item.date | date: 'yyyy-MM-dd'}}</td>
        <td>{{item.action}}</td>
        <td>{{item.reconnect}}</td>
        <td>{{item.reason}}</td>
        <td>{{item.downtime}}</td>
        <td>{{item.recover_time}}</td>
        <td>{{item.weather}}</td>
      </tr>
    </tbody>
  </table>

  <div>
    2、10kV线路接地故障 {{arr_earth.length}} 次：
    <button mat-raised-button color="primary" (click)="openFaultFormDialog(type.Earth)">添加</button>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>日期</th>
        <th>线路名称</th>
        <th>接地时间</th>
        <th>接地现象</th>
        <th>接地原因</th>
        <th>处理完成时间</th>
        <th>备注</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of arr_earth; let i=index;">
        <td>{{i+1}}</td>
        <td>{{item.line}}</td>
        <td>{{item.date | date: 'yyyy-MM-dd'}}</td>
        <td>{{item.reason}}</td>
        <td>{{item.downtime}}</td>
        <td>{{item.recover_time}}</td>
        <td>{{item.phenomenon}}</td>
        <td>{{item.comment}}</td>
      </tr>
    </tbody>
  </table>

</div>
