a {
  cursor: pointer;
}

@media only screen and (max-width: 40em) {
  th, td {
    display: none;
  }

  td:nth-child(2), td:nth-child(3), td:nth-child(5), td:nth-child(6), td:nth-child(10), td:nth-child(12) {
    display: inline-block
  }

  td[data-th]:before  {
    content: attr(data-th);
  }
}
