<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
                 <span class="sr-only">Toggle navigation</span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
               </button>
    <a class="navbar-brand" href="#">管理面板</a>
  </div>
  <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
    <ul class="nav navbar-nav navbar-right">
        <li><a routerLink='/attandence' routerLinkActive="active">工时管理</a></li>
        <li><a routerLink='/line/tour' routerLinkActive="active">线路巡视</a></li>
      <li><a routerLink='/line/defect' routerLinkActive="active">缺陷管理</a></li>
      <li><a href=#>修改密码</a></li>
      <li><a href=#>退出</a></li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <!-- sidebar -->
    <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
      <ul class="sidebar-nav">

        <li><a routerLink='/attandence' routerLinkActive="active">工时管理</a></li>
        <li><a href=#>线路检修</a></li>
        <li><a routerLink='/line/tour' routerLinkActive="active">线路巡视</a></li>
        <li><a routerLink='/line/facility' routerLinkActive="active">设备管理</a></li>
        <li><a routerLink='/line/defect' routerLinkActive="active">缺陷管理</a></li>
      </ul>
    </nav>
    <!-- Page Content -->
    <main class="col-sm-9 offset-sm-3 col-md-10 col-md-offset-2 pt-3">
      <router-outlet></router-outlet>  
    </main>
    <!-- page-content-wrapper -->
  </div>
  <!-- div.row -->
</div>
<!-- div.container-fluid -->