<div class="example-container">
  <app-header (toggle)="snav.toggle()"></app-header>

  <mat-sidenav-container class="example-sidenav-container"> [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [opened]="!mobileQuery.matches" [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <app-sidebar></app-sidebar>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet style="display: none;"></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
