<h3>缺陷管理</h3>
<a [routerLink]="['add']">添加记录</a>
<hr>

<form #form="ngForm" novalidate (ngSubmit)="search(form)">
  <select name="is_done" ngModel>
    <option value="">全部</option>
    <option value="2">已处理</option>
    <option value="3">未处理</option>
  </select>
  <select name="type" ngModel>
    <option value="">类别</option>
    <option [value]="type.id" *ngFor="let type of types">{{type.name}}</option>
    <!--<option [value]="category.id" *ngFor="let category of categories">{{category.name}}</option>-->
  </select>

  <select name="category" id="" ngModel>
    <option value="">缺陷分类</option>
    <option [value]="category.id" *ngFor="let category of categories">{{category.name}}</option>
  </select>
  <select name="line" ngModel>
    <option value="">线路名称</option>
    <option [value]="line.id" *ngFor="let line of lines">{{line.name}}</option>
  </select>

  <input type="text" name="search" placeholder="搜索缺陷内容" ngModel>
  <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
  <button type="button" class="pull-right btn btn-primary" (click)="download()">导出为xlsx</button>
  <!--<button type="button" (click)="c1(form)">111</button>-->
  <!--{{form.value | json}}-->
</form>
<div class="table-responsive">
  <table class="table table-striped table-bordered">

    <thead>
    <tr>
      <th>ID</th>
      <th>类别</th>
      <th>线路名称</th>
      <th>分支名称</th>
      <th>杆号</th>
      <th>缺陷内容</th>
      <th>备注</th>
      <th>日期</th>
      <th>处理日期</th>
      <th>巡视人员</th>
      <th>缺陷分类</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody *ngIf="objects && lines && branches">
    <tr
      *ngFor="let object of objects.results | paginate: { itemsPerPage: 20, currentPage: page, totalItems: objects.count }"
      [ngClass]="{'finished': object.finish_date}">
      <td>{{object.id}}</td>
      <td>{{object.type}}</td>
      <td>{{object.line}}</td>
      <td>{{object.branch}}</td>
      <td>{{object.position}}</td>
      <td>{{object.description}}</td>
      <td>{{object.comment}}</td>
      <td>{{object.date}}</td>
      <td>{{object.finish_date}}</td>
      <td>{{object.person}}</td>
      <td>{{object.category}}</td>
      <td><a [routerLink]="['/line/defect/', object.id]">编辑</a></td>
    </tr>

    </tbody>
  </table>
  <pagination-controls (pageChange)="pageChanged($event)" previousLabel="上一页" nextLabel="下一页"></pagination-controls>
</div>
