<mat-nav-list class="col-md-2 d-none d-md-block bg-light sidebar">
  <mat-list-item routerLink='/attendance' routerLinkActive="active">
    <mat-icon mat-list-icon>home</mat-icon>
    <span mat-line>工时管理</span>
  </mat-list-item>
  <mat-list-item routerLink='/line/tour' routerLinkActive="active">
    <mat-icon mat-list-icon>home</mat-icon>
    <span mat-line>巡视检修记录</span>
  </mat-list-item>
  <mat-list-item routerLink='/line/facility' routerLinkActive="active">
    <mat-icon mat-list-icon>home</mat-icon>
    <!--<mat-icon color="white">settings</mat-icon>-->
    <span mat-line>设备管理</span>
  </mat-list-item>
  <mat-list-item routerLink='/line/defect' routerLinkActive="active">
    <mat-icon mat-list-icon>home</mat-icon>
    <span mat-line>缺陷管理</span>
  </mat-list-item>
  <mat-list-item routerLink='/line/production' routerLinkActive="active">
    <mat-icon mat-list-icon>home</mat-icon>
    <span mat-line>投产验收</span>
  </mat-list-item>
  <mat-list-item routerLink='/line/info' routerLinkActive="active">
    <mat-icon mat-list-icon>home</mat-icon>
    <span mat-line>线路信息</span>
  </mat-list-item>
  <mat-list-item routerLink='/line/summary' routerLinkActive="active">
    <mat-icon mat-list-icon>home</mat-icon>
    <span mat-line>月报统计</span>
  </mat-list-item>
  <mat-list-item routerLink='/line/repair' routerLinkActive="active">
    <mat-icon mat-list-icon>home</mat-icon>
    <span mat-line>检修管理</span>
  </mat-list-item>
  <mat-list-item routerLink='/line/transformer' routerLinkActive="active">
    <mat-icon mat-list-icon>home</mat-icon>
    <span mat-line>变压器管理</span>
  </mat-list-item>

</mat-nav-list>

