<mat-nav-list>
    <mat-list-item routerLink='/attendance' routerLinkActive="active">
      <mat-icon matListIcon>access_time</mat-icon>
      <span matLine>工时管理</span>
    </mat-list-item>
    <mat-list-item routerLink='/line/tour' routerLinkActive="active">
      <mat-icon matListIcon>home</mat-icon>
      <span matLine>巡视检修记录</span>
    </mat-list-item>
    <mat-list-item [routerLink]="['/line/facility']" routerLinkActive="active">
      <mat-icon matListIcon>devices</mat-icon>
      <!--<mat-icon color="white">settings</mat-icon>-->
      <span matLine>设备管理</span>
    </mat-list-item>
    <mat-list-item routerLink='/line/defect' routerLinkActive="active">
      <mat-icon matListIcon>home</mat-icon>
      <span matLine>缺陷管理</span>
    </mat-list-item>
    <mat-list-item routerLink='/line/production' routerLinkActive="active">
      <mat-icon matListIcon>home</mat-icon>
      <span matLine>投产验收</span>
    </mat-list-item>
    <mat-list-item routerLink='/line/info' routerLinkActive="active">
      <mat-icon matListIcon>settings</mat-icon>
      <span matLine>线路信息</span>
    </mat-list-item>
    <mat-list-item routerLink='/line/summary' routerLinkActive="active">
      <mat-icon matListIcon>insert_chart_outlined</mat-icon>
      <span matLine>月报统计</span>
    </mat-list-item>
    <mat-list-item routerLink='/line/repair' routerLinkActive="active">
      <mat-icon matListIcon>home</mat-icon>
      <span matLine>检修管理</span>
    </mat-list-item>
    <mat-list-item routerLink='/line/transformer' routerLinkActive="active">
      <mat-icon matListIcon>home</mat-icon>
      <span matLine>变压器管理</span>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListIcon>bar_chart</mat-icon>
      <span matLine>跳闸统计</span>
    </mat-list-item>


  </mat-nav-list>
