<form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="form-group">
      <label for="">线路名称</label>
      <select class="custom-select" [(ngModel)]="tour.line" name="line">
        <option *ngFor="let line of lines" [value]="line.id">{{line.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="">巡视位置</label>
      <input required name="description" [(ngModel)]="tour.description" type="text" class="form-control" aria-describedby="emailHelp"
        placeholder="巡视的具体位置">
    </div>
    <div class="form-group">
      <label for="">巡视人员</label>
      <input required name="person" [(ngModel)]="tour.person" type="text" class="form-control" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
      <label for="">公里数</label>
      <input required name="length" [(ngModel)]="tour.length" type="number" class="form-control" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
      <label for="">日期</label>
      <input required name="date" [(ngModel)]="tour.date" type="text" class="form-control" aria-describedby="emailHelp" placeholder="2017-01-01这种格式">
    </div>
    <button [disabled]="form.invalid || form.pristine" type="submit" class="btn btn-primary">提交</button>
    <button *ngIf="status !== 1" (click)="delete()" type="submit" class="btn btn-danger">删除</button>
  </form>
