<h3>明细表格</h3>

<table class="table table-striped" #table>
  <thead>
    <tr>
      <th>ID</th>
      <th>日期</th>
      <th>姓名</th>
      <th>出勤</th>
      <th>出工</th>
      <th>上杆</th>
      <th>月份</th>
      <th>备注</th>
      <th>操作</th>
    </tr>
  </thead>

  <tbody>
    <!-- <tbody *ngFor="let item of pageObj?.results"> -->
    <tr *ngFor="let item of attends | paginate: { itemsPerPage: 20, currentPage: p }">
      <td>{{item.id}}</td>
      <td>{{item?.date}}</td>
      <td>{{item.person}}</td>
      <td>{{item.attend}}</td>
      <td>{{item.workhour}}</td>
      <td>{{item.climbhour}}</td>
      <td>{{month?.monthname}}</td>
      <td>{{item.comment}}</td>
      <td>
        <button mat-icon-button (click)="openAttendDialogComponent(item)">
          <mat-icon>edit</mat-icon>
        </button>
        <button class='hover' mat-icon-button (click)="delete(item.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
