<button [routerLink]="['add']" type="button" mat-fab color="accent">
  <mat-icon>add</mat-icon>
</button>
<!-- <a [routerLink]="['add']">添加记录</a> -->
<table class="table table-striped" #table>
  <thead>
  <tr>
    <th>ID</th>
    <th>投产日期</th>
    <th>线路名称</th>
    <th>分支名称</th>
    <th>位置</th>
    <th>变压器</th>
    <td>单刀闸</td>
    <td>开关</td>
    <td>刀闸</td>
    <td>接地装置</td>
    <td>避雷器</td>
    <td>电杆</td>
    <td>公里</td>
    <td>油井</td>
    <td>备注</td>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let productionRecord of productionRecords?.results | paginate: { itemsPerPage: 20, currentPage: page, totalItems: productionRecords?.count }">
    <td>{{productionRecord.id}}</td>
    <td>{{productionRecord.production_date}}</td>
    <td>{{productionRecord.line.name}}</td>
    <td>{{productionRecord.branch.name}}</td>
    <td>{{productionRecord.position}}</td>
    <td>{{productionRecord.transformer}}</td>
    <td>{{productionRecord.single_disconnector}}</td>
    <td>{{productionRecord.breaker}}</td>
    <td>{{productionRecord.disconnector}}</td>
    <td>{{productionRecord.grounding_device}}</td>
    <td>{{productionRecord.arrester}}</td>
    <td>{{productionRecord.pole}}</td>
    <td>{{productionRecord.length}}</td>
    <td>{{productionRecord.well}}</td>
    <td>{{productionRecord.comment}}</td>
  </tr>
  </tbody>
</table>

<pagination-controls (pageChange)="pageChanged($event)" previousLabel="上一页" nextLabel="下一页"></pagination-controls>

